/* Profile.module.css */
.profileContainer {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust based on your layout */
    color: white;
}

.introSection {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px; /* Adjust based on your layout */
}

.videoPreview {
    position: relative;
    width: 60%; /* Adjust based on your design */
     /* This should match the aspect ratio of your video */
    cursor: pointer;
    overflow: hidden; /* To ensure the video does not exceed the container */
}

.videoElement {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will ensure the video covers the area nicely, change to 'contain' if you need to see the whole video */
}


.playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%; /* Creates a circular button */
    background-color: #ff6a00; /* Adjust based on your design */
    border: none;
    cursor: pointer;
}

.actionButtons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust based on your layout */
}

.bookCallButton, .viewSalesButton {
    background-color: #101828; /* Adjust based on your design */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase; /* Style as needed */
}

/* Add this if not present for the stats section alignment */
.statsSection {
    display: flex;
    justify-content: center;
    gap: 40px; /* Adjust based on your design */
    margin-top: 20px;
}

.stat h2 {
    margin: 0;
    text-align: center;
}

.stat p {
    text-align: center;
    font-size: 14px;
}
